<!DOCTYPE html>
<html lang="en">
  <head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>E-Store</title>
    <meta name="description" content=" electronic" />
    <meta name="author" content="Temitope David Olajide" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="style/main.css" />
    <link href="style/css/all.min.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <section class="admin-nav-container">
        <nav class="admin-nav">
          <p>Howdy Admin ?</p>
          <div class="admin-options">
            <p>Admin Panel</p>
            <p>Sign Out</p>
          </div>
        </nav>
      </section>
      <section class="nav-section">
        <div class="logo">E-Store</div>
        <nav class="main-nav">
          <a href="#">Home</a>
          <a href="#">New Arrivals</a>
          <a href="#">Features</a>
          <a href="#">Shop</a>
        </nav>
        <div class="nav-icon">
          <i class="fas fa-heart"></i>
          <i class="fas fa-shopping-cart"></i>
          <i class="fas fa-search"></i>
        </div>
      </section>
    </header>
    <section class="dashboard-section">
      <section class="sidenav">
        <p class="admin-title">Admin Panel</p>
        <h1>Products</h1>
        <a href="#about">All Products</a>
        <a href="#services">Add New</a>
        <a href="#services">Orders</a> <br />
        <h1>Admin</h1>
        <a href="#clients">Edit Profile</a>
        <a class="" href="#contact">Add New</a>
        <a class="" href="#contact">Image gallery</a>
        <a class="active" href="#contact">Upload new image </a>
        <a href="#contact">Logout</a>
      </section>
      <section class="dashboard-container">
        <h1 class="admin-panel-title">Image Upload</h1>
        <section class="image-upload-container">
            <div class="image-upload-section">
                <h2>Drop any image files here</h2>
                <p>or</p>
                <h3>Select files</h3>
            </div>
            <section class="selected-image-container">
                <div class="selected-image"></div>
                <div class="selected-image"></div>
                <div class="selected-image"></div>
                <div class="selected-image"></div>
                <div class="selected-image"></div>
                <div class="selected-image"></div>
                <div class="selected-image"></div>
                <div class="selected-image"></div>
            </section>
        </section>
      </section>
    </section>
  </body>
</html>
