
html,
body {
  height: 100%;
  padding:0;
  margin:0;
  font-family: 'Open Sans', sans-serif;
}

.nav-section {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 3px -2px gray;
  padding: 15px 0;
  position: fixed;
  background-color: white;
}

.logo {
  font-size: 2rem;
  margin-left: 50px;
}
.main-nav {
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.main-nav a {
  text-decoration: none;
}
.nav-icon {
    display: flex;
    align-items: flex-end;
    width: 100px;
    justify-content: space-between;
    margin-right: 50px;

}
.hero-container{
    height: 100vh;
    width:100%;
    background-color: #EAE9E5;
    margin-top: 0px;
}
.categories-wrapper {
    height: 350px;
    width:100%;
    display: flex;
    border-bottom:1px solid #EAE9E5;
}
.category-one,.category-two,.category-three{
    width:33.3%;
    height: 100%;
}
.category-two{
    border-left:2px solid #EAE9E5;
    border-right:2px solid #EAE9E5;
}
.category-title-section{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    margin-top:0
}
.category-title{
    font-size: 3rem;
    text-align: center;
    padding: 0rem;
    margin:1rem
}
.category-summary{
    text-align: center;
    padding: 0rem;
    margin:0;
    color:rgb(0, 0, 0,.6);
    font-size: 1.2rem;
}
.product-section{
    width:90%;
    padding: 15px 0;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin:0 auto
}
.product-wrapper{
    display: flex;
    flex-direction: column;
    width:23%;
    min-height: 380px;
}
.product-name_wish-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(0, 0, 0,.6);
    font-size: 1rem;
    margin:0;
    padding:0;
    font-weight: 400;
}
.hearted {
    color:red
}
.product{
    width:100%;
    background-color: #D1D5D8;
    height: 350px;
    display: flex;
}
.product-price{
    color:rgb(0, 0, 0,.6);
    font-size: 1rem;
    font-weight: 600;
    margin:0;
    padding:0
}
/* 

*/
.nav-to-product{
    display: flex;
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    align-items: center;
    margin-bottom: 50px;
}
.nav-to-product p, .nav-to-product span{
    padding:5px;
    margin-right:4px;
    color:rgb(0, 0, 0,.5);
    font-size: 1rem;
    text-transform: capitalize;
    font-size: .8rem;
    font-weight: 600;
}
.nav-to-product p {
cursor: pointer;
}
.product-details-container{
    width: 80%;
    margin:0 auto;
    display: flex;
    height: 80vh;
}
.product-image-section{
    width: 60%;
    height: 100%;
    background-color: #D1D5D8;
}
.product-summary-section{
    margin-left:50px;
    width: 50%;
    height: 100%;
}
.product-summary {
    color:rgb(0, 0, 0,.6);
    font-size: 1.1rem;
    font-weight: 500;
}
.product-counter-input{
    width:45px;
    height: 96%;
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 0px;
    background-color: rgb(0, 0, 0, 0.1);
    outline: none;
}
.product-counter-botton{
    width:45px;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0, 0.5);
    background-color: transparent;
    outline: none;
    cursor: pointer;

}
.counter-section{
    display: flex;
    align-items: center;
    height:50px
}
.description_review-section{
    width: 80%;
    margin:100px auto;
    border: 1px solid rgb(209, 207, 207);
}
.description-container{
    padding: 50px;
    
}
.description-container h3, .review-container h3, .add-review-section h3{
    color: rgb(88, 87, 87);text-align: center;
    text-decoration: underline;
}
.description-container p{
    color: grey;
    text-align: left;
}

.all-reviews{
    display: flex;
    width: 600px;
    margin:0 auto;
}
.reviewer-avatar-section img {
    border-radius: 50%;
    width: 80px;
    height:80px;
    margin-right: 50px;
}
.review-content-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.commenter-username {
    text-align: left;
    color:grey;
    margin: 0;
}
.review {
    color:grey;
    font-size: 1rem;
}
.add-review-section{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    margin:20px auto
}
.primary-button, .secondary-button{
    width: 100%;
    border: grey 2px solid;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding:1rem;
    text-transform: uppercase;
    margin-top: 10px;
}
.secondary-button{
    width: 200px
}
.comment-box{
    width: 98.5%;
    border: grey 2px solid;
    font-size: 1.5rem;;
    background-color: transparent;
    outline: none;
    height:200px;
    margin-bottom:10px;

}